<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
</head>
<body class="background-image">
    <header>
        <img src="../static/shortlogowhite.png" alt="">
        <div>
            <a href="/animais"><img class="menu" src="../static/menuicon.png"></a>
            <a href="/settings"><img class="settings" src="../static/settingsicon.png"></a>
        </div>
    </header>
    <div class="texto">
        <h1 style="align-self: center;">Obrigado pela sua adoção</h1>
        <a href="/home"><h3 style="align-self: center;">Clique aqui para retornar à página inicial</h3></a>
    </div>
</body>
</html>